.catalog-sprite.birthstone_by_month-apr-Diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 49.62406015037594% 31.25% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-aug-Peridot {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 78.125% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-dec-BlueTopaz {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 22.55639097744361% 42.96875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-feb-Amethyst {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 33.83458646616541% 42.96875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-jan-Garnet {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 45.11278195488722% 42.96875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-jul-Ruby {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 56.390977443609025% 42.96875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-jun-Pearl {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 54.6875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-mar-Aquamarine {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 67.66917293233082% 66.40625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-may-Emerald {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 78.94736842105263% 0 no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-nov-Citrine {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 11.278195488721805% 78.125% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-oct-Opal {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 57.89473684210526% 78.125% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.birthstone_by_month-sept-Sapphire {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 42.96875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.engagement_ring_style-3Stone-engagementRingStyle, .catalog-sprite.engagementRingStyle-3Stone-engagementRingStyle {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 25.423728813559322% 23.66412213740458% no-repeat;
	width: 60px;
	height: 24px;
}

.catalog-sprite.engagement_ring_style-colorSidestone-engagementRingStyle, .catalog-sprite.engagementRingStyle-colorSidestone-engagementRingStyle {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 30.508474576271187% 0 no-repeat;
	width: 60px;
	height: 24px;
}

.catalog-sprite.engagement_ring_style-halo-engagementRingStyle, .catalog-sprite.engagementRingStyle-halo-engagementRingStyle {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 30.508474576271187% 9.16030534351145% no-repeat;
	width: 60px;
	height: 24px;
}

.catalog-sprite.engagement_ring_style-sidestone-engagementRingStyle, .catalog-sprite.engagementRingStyle-sidestone-engagementRingStyle {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 23.66412213740458% no-repeat;
	width: 60px;
	height: 24px;
}

.catalog-sprite.engagement_ring_style-solitaire-engagementRingStyle, .catalog-sprite.engagementRingStyle-solitaire-engagementRingStyle {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 14.50381679389313% no-repeat;
	width: 60px;
	height: 24px;
}

.catalog-sprite.engagement_ring_style-vintage-engagementRingStyle, .catalog-sprite.engagementRingStyle-vintage-engagementRingStyle {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 32.82442748091603% no-repeat;
	width: 60px;
	height: 24px;
}

.catalog-sprite.gemstone-allOtherGemstones {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 11.278195488721805% 54.6875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-amethyst {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 22.55639097744361% 54.6875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-aquamarine {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 33.83458646616541% 54.6875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-blueTopaz {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 45.11278195488722% 54.6875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-citrine {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 56.390977443609025% 54.6875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-emerald {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 67.66917293233082% 0 no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-garnet {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 67.66917293233082% 11.71875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-morganite {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 67.66917293233082% 23.4375% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-onyx {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 67.66917293233082% 35.15625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-opal {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 67.66917293233082% 46.875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-pearl {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 66.40625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-peridot {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 11.278195488721805% 66.40625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-ruby {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 22.55639097744361% 66.40625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-sapphire {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 33.83458646616541% 66.40625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-tanzanite {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 45.11278195488722% 66.40625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.gemstone-tourmaline {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 56.390977443609025% 66.40625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.imageTypes-images, .catalog-sprite.imageType-built_ring_image_type_images {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 51.76470588235294% 9.578544061302683% no-repeat;
	width: 41px;
	height: 25px;
}

.catalog-sprite.imageTypes-three-sixty, .catalog-sprite.imageType-built_ring_image_type_three_sixty {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 53.225806451612904% 0 no-repeat;
	width: 48px;
	height: 25px;
}

.catalog-sprite.metal-cobalt {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 28.88888888888889% 100% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-palladium {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 19.25925925925926% 100% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-platinum {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 9.62962962962963% 100% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-roseGold, .catalog-sprite.metal-14kRoseGold, .catalog-sprite.metal-18kRoseGold {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 80% 88.46153846153847% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-roseGoldVermeil {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 70.37037037037037% 88.46153846153847% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-silver {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 38.51851851851852% 100% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-stainlessSteel {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 0 no-repeat;
	width: 72px;
	height: 38px;
}

.catalog-sprite.metal-tantalum {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 60.74074074074074% 88.46153846153847% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-titanium {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 51.111111111111114% 88.46153846153847% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-tungsten {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 41.48148148148148% 88.46153846153847% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-whiteGold, .catalog-sprite.metal-14kWhiteGold, .catalog-sprite.metal-18kWhiteGold {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 31.85185185185185% 88.46153846153847% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-yellowGold, .catalog-sprite.metal-14kYellowGold, .catalog-sprite.metal-18kYellowGold {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 30% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.metal-yellowGoldVermeil {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 22.22222222222222% 88.46153846153847% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.pearl_type-akoya {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 90.22556390977444% 0 no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.pearl_type-freshwater {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 90.22556390977444% 11.71875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.pearl_type-goldenSouthSea {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 90.22556390977444% 23.4375% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.pearl_type-mabe {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 90.22556390977444% 35.15625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.pearl_type-motherOfPearl {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 90.22556390977444% 46.875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.pearl_type-southSea {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 90.22556390977444% 58.59375% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.pearl_type-tahitian {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 90.22556390977444% 70.3125% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.shape-asscher-diamond, .catalog-sprite.shapes-asscher-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 89.84375% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.shape-cushion-diamond, .catalog-sprite.shapes-cushion-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 11.278195488721805% 89.84375% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.shape-emerald-diamond, .catalog-sprite.shapes-emerald-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 69.17293233082707% 78.125% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.shape-heart-diamond, .catalog-sprite.shapes-heart-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 50.19011406844106% 19.53125% no-repeat;
	width: 33px;
	height: 30px;
}

.catalog-sprite.shape-marquise-diamond, .catalog-sprite.shapes-marquise-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 48.55072463768116% 78.125% no-repeat;
	width: 20px;
	height: 30px;
}

.catalog-sprite.shape-oval-diamond, .catalog-sprite.shapes-oval-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 41.30434782608695% 78.125% no-repeat;
	width: 20px;
	height: 30px;
}

.catalog-sprite.shape-pear-diamond, .catalog-sprite.shapes-pear-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 33.088235294117645% 78.125% no-repeat;
	width: 24px;
	height: 30px;
}

.catalog-sprite.shape-princess-diamond, .catalog-sprite.shapes-princess-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 22.55639097744361% 78.125% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.shape-radiant-diamond, .catalog-sprite.shapes-radiant-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 78.94736842105263% 58.59375% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.shape-round-diamond, .catalog-sprite.shapes-round-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 78.94736842105263% 46.875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.shop_by_color-black {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 89.62962962962963% 88.46153846153847% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-blue, .catalog-sprite.fancyColors-blue-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 0 no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-brown, .catalog-sprite.fancyColors-brown-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 10% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-gray, .catalog-sprite.fancyColors-gray-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 20% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-green, .catalog-sprite.fancyColors-green-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 79.25925925925925% 76.92307692307692% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-multi-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 40% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-orange, .catalog-sprite.fancyColors-orange-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 50% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-pink, .catalog-sprite.fancyColors-pink-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 60% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-purple, .catalog-sprite.fancyColors-purple-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 70% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-red, .catalog-sprite.fancyColors-red-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 80% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-white {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 100% 90% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.shop_by_color-yellow, .catalog-sprite.fancyColors-yellow-color {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 0 100% no-repeat;
	width: 26px;
	height: 26px;
}

.catalog-sprite.stone_category-diamond {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 78.94736842105263% 35.15625% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.stone_category-gemstone {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 78.94736842105263% 23.4375% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.stone_category-pearl {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 78.94736842105263% 11.71875% no-repeat;
	width: 30px;
	height: 30px;
}

.catalog-sprite.stone_category-plainMetal {
	background: url("/bnsecure/static/sprites/catalog-sprites-f43460d4.svg") 11.278195488721805% 42.96875% no-repeat;
	width: 30px;
	height: 30px;
}

